[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camel = "==0.1.0"
camel-ai = "==0.1.1"
dotenv = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
